<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            <meta charset="UTF-8">
        {% endblock meta %}

        {% block title %}
            <title>ورود|ثبت نام</title>
        {% endblock title %}
        {% block stylesheet %}
            <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
            <link href="../../static/authentication/login.css" rel="stylesheet">
        {% endblock stylesheet %}
    {% endblock head %}
</head>
<body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block body %}
        <div class="wrapper">


            <form class="form-signin" method="post" >
                <h2 class="form-signin-heading">Please Log In</h2>
                {% csrf_token %}
                {{ form.as_p }}
                  <!--<h2 class="form-signin-heading">Please login</h2>-->
                  <!--<input type="text" class="form-control" name="Username" placeholder="Email Address" required="" autofocus="" />-->
                  <!--<input type="password" class="form-control" name="Password" placeholder="Password" required=""/>-->
                  <!--<label class="checkbox">-->
                    <!--<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me-->
                  <!--</label>-->
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    {% endblock body %}

</body>
</html>