
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            <meta charset="UTF-8">
        {% endblock meta %}

        {% block title %}
            <title></title>
        {% endblock title %}
        {% block stylesheet %}
                <link rel="stylesheet" href="../statics/main.css" />
                <!--[if lte IE 8]><link rel="../statics/stylesheet" href="ie8.css" /><![endif]-->
                <!--[if lte IE 9]><link rel="../statics/stylesheet" href="ie9.css" /><![endif]-->
            <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
            <link href="../../static/authentication/login.css" rel="stylesheet">
        {% endblock stylesheet %}
    {% endblock head %}
</head>
<body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block body %}
        <section id="header">
        <div class="inner" >
        <div class="wrapper">
            <div class="row">
            <div class="col-xs-4"></div>
                <div class="col-xs-4">
            <form  method="post">
                {% csrf_token %}

                    {{ form.as_p }}
                  <button class="btn btn-lg btn-primary btn-block" type="submit">جست و جو</button>
            </form>
                </div>
                <div class="col-xs-4"></div>
        </div>
        </div>
        </div>
        </section>
        <section id="four" class="main style2 special">
        <br><br><br><br>
    </section>
        </div>
    {% endblock body %}

</body>
</html>
<!--<body>-->
    <!--<form method="post">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<button type="submit">جست و جو</button>-->
    <!--</form>-->
    <!--{% if latest_question_list %}-->
    <!--<ul>-->
    <!--{% for question in latest_question_list %}-->
        <!--<li><a href="/drugstoreapp/{{ question.id }}/">{{ question.drug_code }}</a></li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
<!--{% else %}-->
    <!--<p>No polls are available.</p>-->
<!--{% endif %}-->
<!--</body>-->
<!--</html>-->